<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <button
            type="button"
            class="btn btn-sm btn-primary"
            routerLink="/configuration/project"
          >
            < Back
          </button>
        </div>
        <div class="row mt-2">
          <div class="col-md-2">
            <b>Network: {{ this.nodeInfo.networkNo }}</b>
          </div>
          <div class="col-md-2">
            <b>Node: {{ this.nodeInfo.nodeNo }}</b>
          </div>
          <div class="col-md-5">
            <b>Product: {{ this.nodeInfo.productName }}</b>
          </div>
          <div class="col-md-2">
            <b>RTUID: {{ this.nodeInfo.rtuId }}</b>
          </div>
        </div>
        <div class="mt-3">
          <ngb-tabset class="tabset1">
            <ngb-tab title="Product Configuration">
              <ng-template ngbTabContent>
                <ng-container *ngIf="nodeInfo.productTypeId === 1">
                  <h3>Non Rechargeable Node</h3>
                  <app-nonrechablenode
                    [nodeId]="nodeId"
                    [nodeInfo]="nodeInfo"
                  ></app-nonrechablenode>
                </ng-container>

                <!-- Reachable node -->

                <ng-container *ngIf="nodeInfo.productTypeId === 2">
                  <h3>Rechargeable Node</h3>
                  <app-rechablenode
                    [nodeId]="nodeId"
                    [nodeInfo]="nodeInfo"
                  ></app-rechablenode>
                </ng-container>

                <!-- GatewayNode -->

                <ng-container
                  *ngIf="
                    nodeInfo.productTypeId === 3 || nodeInfo.productTypeId === 4
                  "
                >
                  <h3>Gateway Node</h3>
                  <app-gatewaynode [nodeId]="nodeId" [nodeInfo]="nodeInfo">
                  </app-gatewaynode>
                </ng-container>
              </ng-template>
            </ngb-tab>
            <ngb-tab title="Node Update Data">
              <ng-template ngbTabContent>
                <app-nodeupdatedata [nodeId]="nodeId" [nodeInfo]="nodeInfo"></app-nodeupdatedata> </ng-template>
            </ngb-tab>
            <ngb-tab title="Node Setting">
              <ng-template ngbTabContent>
                <app-nodesetting [nodeId]="nodeId" [nodeInfo]="nodeInfo">
                </app-nodesetting>
              </ng-template>
            </ngb-tab>
            <ngb-tab title="Node Live Data">
              <ng-template ngbTabContent>
                <app-nodelivedata
                  [nodeId]="nodeId"
                  [nodeInfo]="nodeInfo"
                ></app-nodelivedata>
              </ng-template>
            </ngb-tab>
            <ngb-tab title="Sensor Configuration">
              <ng-template ngbTabContent> </ng-template>
            </ngb-tab>
          </ngb-tabset>
        </div>
      </div>
    </div>
  </div>
</div>
