  <div class="row">
    <div class="col-4">
      <div class="card">
        <div class="card-body">

        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-body">

        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-body">

        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <h5>RTU Analysis</h5>
          <div class="row table-responsive mt-3">
            <table
              class="table table-bordered mt-2"
              id="dt1"
              datatable
              [dtTrigger]="dtTrigger"
              [dtOptions]="dtOptions"
            >
              <thead>
                <tr>           
                 <th>Network No</th>
                 <th>Node No</th>
                 <th>Last Event</th>             
                 <th>Server Received DateTime</th>
                </tr> 
              </thead>
              <tbody>
                <tr *ngFor="let pos of this.rtuanalysisLst">                                 
                  <td>{{ pos.NetworkNo }}</td>
                  <td>{{ pos.NodeNo }}</td>
                  <td>{{ pos.EventType }}</td>
                  <td>{{ pos.AddedDateTime | date: "dd/MM/yyyy HH:mm" }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <div class="card-body">

        </div>
      </div>
    </div>
  </div>
