<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4>Users</h4>
        <button class="btn btn-sm btn-primary" [routerLink]="['/addusers']">Add User</button>
        <div class="row table-responsive mt-3">
          <table
            class="table table-bordered mt-2"
            id="dt1"
            datatable
            [dtTrigger]="dtTrigger"
            [dtOptions]="dtOptions"
          >
            <thead>
              <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>User Name</th>
                <th>Mobile No</th>
                <th>Role</th>
                <th>IsRestrictedUser</th>
                <th>Technician Id</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let pos of this.userList">
                <td class="handCursor">
                  {{ pos.FirstName }}
                </td>
                <td class="handCursor">
                  {{ pos.LastName }}
                </td>
                <td>{{ pos.UserName }}</td>
                <td>{{ pos.MobileNo }}</td>
                <td>{{ getRole(pos.RoleId) }}</td>
                <td>
                  <!-- Rounded switch -->
                  <label class="switch">
                    <input
                      class="form-control"
                      type="checkbox"
                      [(ngModel)]="pos.IsRestrictedUser"
                      name="active"
                      tabIndex="3"
                      (change)="
                        updateUserRestriction(pos.UserId, pos.IsRestrictedUser)
                      "
                    />
                    <span class="slider"></span>
                  </label>
                </td>
                <td>
                  <input
                    *ngIf="pos.isUserNoEdit"
                    class="form-control"
                    type="number"
                    [(ngModel)]="pos.UserNo"
                    name="userNo"
                    #name="ngModel"                   
                  />
                  <button
                    *ngIf="pos.isUserNoEdit"
                    type="button"
                    class="btn btn-sm btn-warning"
                    (click)="UpdateTechId(pos);"
                  >
                    Update
                  </button>
                  <label *ngIf="!pos.isUserNoEdit"
                    >{{pos.UserNo}}
                    <button
                      type="button"
                      class="btn btn-sm btn-primary ml-4"
                      (click)="pos.isUserNoEdit = !pos.isUserNoEdit"
                    >
                      Edit Tech Id
                    </button></label
                  >
                </td>
                <td>
                  <button                
                  type="button"
                  class="btn btn-sm btn-danger"
                  (click)="deleteUser(pos.UserId);"
                >
                  Delete
                </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
