<div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="container">
            <div class="row justify-content-center" text-center>
              <div
                class="col justify-content-center handCursor"
                text-center
                style="text-align: center"
                routerLink="/events/valvelist"
              >
                <img
                  src="./../../../assets/images/1100117.png"
                  alt="Snow"
                  style="width: 40%"
                />
                <h4>Valve Events</h4>
              </div>
              <div
                class="col justify-content-center handCursor"
                text-center
                style="text-align: center"
                routerLink="/events/sensorlist"
              >
                <img
                  src="./../../../assets/images/sensor.png"
                  alt="Snow"
                  style="width: 40%"
                />
                <h4>Sensor Update Status</h4>
              </div>           
              <div
              class="col justify-content-center handCursor"
              text-center
              style="text-align: center"
              routerLink="/events/valvealarmdata"
            >
              <img
                src="./../../../assets/images/sensor.png"
                alt="Snow"
                style="width: 40%"
              />
              <h4>Valve Alarm Data</h4>
            </div>           
            
            <div
            class="col justify-content-center handCursor"
            text-center
            style="text-align: center"
            routerLink="/events/sensoralarmdata"
          >
            <img
              src="./../../../assets/images/sensor.png"
              alt="Snow"
              style="width: 40%"
            />
            <h4>Sensor Alarm Data</h4>
          </div>           
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>