<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="container">
          <div class="row justify-content-center" text-center>
            <div
              class="col justify-content-center handCursor"
              text-center
              style="text-align: center"
              routerLink="/events/operationalanalysis"
            >
              <img
                src="./../../../assets/images/G15.jpg"
                alt="Snow"
                style="width: 40%"
              />
              <h4>Operational Data Analysis</h4>
            </div>
            <div
              class="col justify-content-center handCursor"
              text-center
              style="text-align: center"
              routerLink="/events/networkanalysis"
            >
              <img
                src="./../../../assets/images/G15.jpg"
                alt="Snow"
                style="width: 40%"
              />
              <h4>Network Data Analysis</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
