<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <button class="btn btn-primary float-right" (click)="deleteConf()">Delete All Configuration</button>

        <div class="">
          <div class="mt-2">
            <ngb-tabset class="tabset1">
              <ngb-tab title="Project">
                <ng-template ngbTabContent>
                  <div>
                    <!-- <button
                      class="btn btn-primary float-right mt-2"
                      (click)="AddProject(contentLC, 0)"
                    >
                      Add Project
                    </button> -->
                  </div>
                  <div class="p-3 border">
                    <p>
                      <b>MaxNodeSerialNo</b> - {{ projectInfo.MaxNodeSerialNo }}
                    </p>
                    <p><b>MaxNodeId</b> - {{ projectInfo.MaxNodeId }}</p>
                    <p><b>MaxGwValves</b> - {{ projectInfo.MaxGwValves }}</p>
                    <p><b>MaxGwSensors</b> - {{ projectInfo.MaxGwSensors }}</p>
                    <p>
                      <b>MaxNodeValves</b> - {{ projectInfo.MaxNodeValves }}
                    </p>
                    <p>
                      <b>MaxNodeSensors</b> - {{ projectInfo.MaxNodeSensors }}
                    </p>
                    <p>
                      <b>MaxMobileNoSize</b> - {{ projectInfo.MaxMobileNoSize }}
                    </p>
                    <p><b>MaxSequences</b> - {{ projectInfo.MaxSequences }}</p>
                    <p>
                      <b>MaxElementsInSequences</b> -
                      {{ projectInfo.MaxElementsInSequences }}
                    </p>
                    <p><b>MaxFilters</b> - {{ projectInfo.MaxFilters }}</p>
                    <p><b>MaxPumps</b> - {{ projectInfo.MaxPumps }}</p>
                    <p><b>MaxFert</b> - {{ projectInfo.MaxFert }}</p>
                    <p>
                      <b>MaxRtuscheduleTransferDis</b> -
                      {{ projectInfo.MaxRtuscheduleTransferDis }}
                    </p>
                    <p>
                      <b>MaxSchOperatedGw</b> -
                      {{ projectInfo.MaxSchOperatedGw }}
                    </p>
                    <p>
                      <b>MaxGwinProject</b> - {{ projectInfo.MaxGwinProject }}
                    </p>
                    <p><b>MaxNodePerGw</b> - {{ projectInfo.MaxNodePerGw }}</p>
                    <p>
                      <b>MaxNodeInProject</b> -
                      {{ projectInfo.MaxNodeInProject }}
                    </p>
                    <p>
                      <b>MaxNetworkInProject</b> -
                      {{ projectInfo.MaxNetworkInProject }}
                    </p>
                  </div>
                </ng-template>
              </ngb-tab>
              <ngb-tab title="Netwrok-RTU">
                <ng-template ngbTabContent>
                  <div class="row">
                    <div class="col-md-4">
                      <label>Network</label>
                      <ng-select
                      appendTo="body"
                      id="selectedFilter"
                      #select
                      [items]="nwLst"
                      bindLabel="networkNo"
                      placeholder="Show All"
                      bindValue="networkNo"
                      [(ngModel)]="selectedFilter"
                      (change)="GetList(selectedFilter)"
                      appearance="outline"
                    >
                    </ng-select>
                    </div>
                  </div>
                  <table class="table table-bordered mt-2">
                    <thead>
                      <tr>
                        <th>Network No</th>
                        <th>Network Tagname</th>
                        <th>Rtu Id</th>
                        <th>Node No</th>
                        <th>Node Tagname</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let pos of this.nwnodeLst">
                        <td>{{ pos.networkId }}</td>
                        <td>{{ pos.networkTagName }}</td>
                        <td>{{ pos.nodeId }}</td>
                        <td>{{ GetNodeNo(pos.networkId, pos.nodeId ) }}</td>
                        <td>{{ pos.nodeTagName }}</td>
                        <td><button type="button" class="btn btn-sm btn-primary" (click)="openProduct(pos.nodeId, pos.networkId)">Product </button></td>
                      </tr>
                    </tbody>
                  </table>
                </ng-template>
              </ngb-tab>
            </ngb-tabset>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add Node</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="amos">Node No</label>
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              id="nodeNo"
              ngxNumberFormat="#######"
              required
              [(ngModel)]="nodeInfo.nodeNo"
              name="nodeNo"
              #nodeNo="ngModel"
              (keyup)="calculateRtuId()"
            />
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="nodeName">Node Name</label>
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              id="nodeName"
              required
              [(ngModel)]="nodeInfo.nodeName"
              name="nodeName"
              #nodeName="ngModel"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="amos">Network No</label>
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              id="networkId"
              required
              [(ngModel)]="nodeInfo.networkNo"
              name="networkId"
              #networkId="ngModel"
              [readonly]="true"
            />
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="rtuId">RtuId</label>
          <div class="input-group">
            <input
              type="text"
              ngxNumberFormat="#######"
              class="form-control"
              id="rtuId"
              required
              [(ngModel)]="nodeInfo.rtuId"
              name="rtuId"
              #rtuId="ngModel"
              [readonly]="true"
            />
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="difficult">Product</label>
          <select
            class="form-control"
            id="productTypeId"
            required
            (change)="setAddon()"
            [(ngModel)]="nodeInfo.productTypeId"
            name="productTypeId"
            #productTypeId="ngModel"
          >
            <!-- <option value="">Select Network</option> -->
            <option
              [value]="li.productNo"
              [innerHtml]="li.type"
              *ngFor="let li of producyTypeLst"
            ></option>
          </select>
        </div>
      </div>
    </div>
    <div
      class="row"
      *ngIf="nodeInfo.productTypeId == 3 || nodeInfo.productTypeId == 4"
    >
      <div class="col-md-6">
        <div class="form-group">
          <label for="difficult">Addon Card</label>
          <label class="switch">
            <input
              type="checkbox"
              [(ngModel)]="nodeInfo.isAddonCard"
              name="isAddonCard"
            />
            <span class="slider"></span>
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer justify-content-center" text-center>
    <button
      type="button"
      class="btn btn-primary"
      (click)="SaveNode(content)"
      *ngIf="!isEditNode"
    >
      Save
    </button>
    <button
      type="button"
      class="btn btn-primary"
      (click)="UpdateNode(content)"
      *ngIf="isEditNode"
    >
      Edit
    </button>

    <button
      type="button"
      class="btn btn-danger"
      (click)="modal.close('Close click')"
    >
      Close
    </button>
  </div>
</ng-template>
