7<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <!-- <h4>Node Alarm Data</h4> -->
        <div class="row">
          <div class="col-md-3">
            <label>From Date</label>

            <input
              type="date"
              id="fromDate"
              class="form-control"
              [(ngModel)]="postEvents.startdate"
              name="fromDate"
              #fromDate="ngModel"
            />
          </div>
          <div class="col-md-3">
            <label>From Time</label>

            <input
              type="time"
              id="fromTime"
              class="form-control"
              [(ngModel)]="postEvents.fromTime"
              name="fromTime"
              #fromTime="ngModel"
            />
          </div>
          <div class="col-md-3">
            <label>To Date</label>
            <input
              type="date"
              id="endDate"
              class="form-control"
              [(ngModel)]="postEvents.endDate"
              name="endDate"
              #endDate="ngModel"
            />
          </div>
          <div class="col-md-3">
            <label>To Time</label>
            <input
              type="time"
              id="toTime"
              class="form-control"
              [(ngModel)]="postEvents.toTime"
              name="toTime"
              #toTime="ngModel"
            />
          </div>
        </div>
        <div class="row text-center mt-2">
          <div class="col-md-12">
            <button type="button" class="btn btn-primary" (click)="SearchRec()">
              Search
            </button>
            <button
              type="button"
              class="btn btn-primary ml-3"
              (click)="clear()"
            >
              Clear
            </button>
          </div>
        </div>
        <div class="row table-responsive mt-3">
          <table
            class="table table-bordered mt-2"
            id="dt1"
            datatable
            [dtTrigger]="dtTrigger"
            [dtOptions]="dtOptions"
          >
            <thead>
              <tr>
                <th>Network No</th>
                  <th>Node No </th>
                  <th>NodeId (Testing)</th>
                  <th>Last Communication</th>
                  <th>System Version Number</th>
                  <th>Configuration Setting Number</th>
                  <th>Schedule Update Nummber</th>
                  <th>Sensor Update Number</th>
                  <th>Tempreture Reading</th>
                  <th>Battery Volt Reading</th>
                  <th>LVS Start Time</th>
                  <th>LVS Duration</th>
                  <th>LVS Opreation</th>
                  <th>LVS Valve No</th>
                  <th>LVS ROP</th>
                  <th>Number of Blank Schedule Rows</th>
                  <th>Valve Status</th>
                  <th>Digital Input Status</th>
                  <th>Server Added DateTime</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let pos of this.sensorLst">
                <td>{{ getNetworkFronNode(pos.NodeId) }}</td>
                <td>{{ getRtuIdFronNode(pos.NodeId) }}</td>
                <td>{{ pos.NodeId }}</td>
                <td>{{ pos.Soy | date: "dd/MM/yyyy HH:mm" }}</td>                
                <td>{{pos.VerNumber}}</td>
                <td>{{pos.ConfigVerNumber}}</td>
                <td>{{pos.ScheduleUpno}}</td>
                <td>{{pos.SensorUpno}}</td>
                <td>{{pos.TempReading}}</td>
                <td>{{pos.BatteryVoltReading}}</td>
                <td>{{pos.LvsStartTime}}</td>
                <td>{{pos.LvsDuration}}</td>
                <td>{{pos.LvsOperation}}</td>
                <td>{{pos.LvsValveNo}}</td>
                <td>{{pos.LvsRop}}</td>
                <td>{{pos.MoUpno}}</td>
                <td>{{pos.ValveStatus}}</td>
                <td>{{pos.Distatus}}</td>    
                <td>{{ pos.AddedDatetime | date: "dd/MM/yyyy HH:mm" }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
