<div class="d-flex justify-content-center">
  <div class="row justify-content-center align-items-center">
    <div class="col-auto">
      <div class="card shadow-lg border-0 rounded-lg">
        <div class="logo-background px-5">
          <!-- logo for lg and above -->
          <img src="assets/img/UCI.svg" class="d-none d-lg-block" />
          <!-- logo for md and below -->
          <img class="d-lg-none logo-mini" src="assets/img/UCI.svg" />
        </div>
        <div class="card-body">
          <h4 class="text-center"><b>Password Recovery</b></h4>
          <div class="small mb-3 text-muted">
            Enter your email address and we will send you a link to reset your
            password.
          </div>
          <form #forgotPasswordForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label class="mb-1" for="email">Email</label>
              <input
                type="email"
                class="form-control"
                id="email"
                [(ngModel)]="this.forgotPassword.email"
                name="email"
                #email="ngModel"
                required
                pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$"
              />
            </div>
            <div
              class="
                form-group
                d-flex
                align-items-center
                justify-content-between
                mt-4
                mb-0
              "
            >
              <a class="" routerLink="/authentication/login">Return to login</a>
              <button
                type="submit"
                class="btn btn-primary"
                [disabled]="!forgotPasswordForm.form.valid"
                (click)="onSubmit()"
              >
                Reset Password
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
