<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4>Gateway Status Data</h4>
        <div class="row">
          <div class="col-md-3">
            <label>From Date</label>

            <input type="date" id="fromDate" class="form-control"  [(ngModel)]="postEvents.startdate"
            name="fromDate"
            #fromDate="ngModel" />
          </div>
          <div class="col-md-3">
            <label>From Time</label>

            <input type="time" id="fromTime" class="form-control"  [(ngModel)]="postEvents.fromTime"
            name="fromTime"
            #fromTime="ngModel" />
          </div>
          <div class="col-md-3">
            <label>To  Date</label>
            <input type="date" id="endDate" class="form-control"  [(ngModel)]="postEvents.endDate"
            name="endDate"
            #endDate="ngModel" />
          </div>
          <div class="col-md-3">
            <label>To Time</label>
            <input type="time" id="toTime" class="form-control"  [(ngModel)]="postEvents.toTime"
            name="toTime"
            #toTime="ngModel" />
          </div>  
        </div>
        <div class="row text-center mt-2">
          <div class="col-md-12">
            <button type="button" class="btn btn-primary" (click)="SearchRec()">Search</button>
            <button type="button" class="btn btn-primary ml-3" (click)="clear()">Clear</button>
          </div>
        </div>
        <div class="row table-responsive mt-3">
          <table
            class="table table-bordered mt-2"
            id="dt1"
            datatable
            [dtTrigger]="dtTrigger"
            [dtOptions]="dtOptions"
          >
            <thead>
              <tr>           
               <!--<th>FrameType</th>-->
               <th>Network No</th>
               <th>Node No</th>
               <th>NodeId (Testing)</th>
               <th>Current SOY</th>
               <th>Active seconds</th>
               <th>Battery voltage</th>
               <th>Temperature</th>
               <th>Panel voltage</th>
               <th>Charging_Status</th>
               <th>GSM Signal_Strength</th>
               <th>Active Cards connected to GW</th>
               <th>RF signal strength</th>
               <th>RF network led state </th>
               <th>Card_1 active minutes</th>
               <th>Card_2 active minutes</th>
               <th>Card_3 active minutes</th>
               <th>Server Received DateTime</th>
              </tr> 
            </thead>
            <tbody>
              <tr *ngFor="let pos of this.modelLst">
             
                <!-- <td>{{ pos.FrameType }}</td> -->
                <td>{{getNetworkFronNode(pos.NodeId)}}</td>
                <td>{{getRtuIdFronNode(pos.NodeId)}}</td>
                <td>{{ pos.NodeId }}</td>
                <td>{{ pos.CtimeSoy | date:'dd/MM/yyyy HH:mm' }}</td>
                <td>{{ pos.ActiveSec }}</td>
                <td>{{ pos.Gwvbat }}</td>
                <td>{{ pos.Gwtemp }}</td>
                <td>{{ pos.Spvvolt }}</td>
                <td>{{ pos.GwchargeS }}</td>
                <td>{{ pos.GsmSig }}</td>
                <td>{{ pos.ConnectedCards }}</td>
                <td>{{ pos.Rfsig }}</td>
                <td>{{ pos.Rfnwledstate }}</td>
                <td>{{ pos.C1actmin }}</td>
                <td>{{ pos.C2actmin }}</td>
                <td>{{ pos.C3actmin }}</td>
                <td>{{ pos.AddedDateTime | date: "dd/MM/yyyy HH:mm" }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
